
/*Barra de acceso arriba*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgb(255, 255, 255);
}
*{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Mulish", sans-serif;

}

iframe{
width: 100%;
height: 100vh;

}

::-webkit-scrollbar{
display: none;
}

html{
scroll-behavior: smooth;
}
@media (max-width: 600px){
    #inicio .contenido header .contenido-header nav ul{
        visibility: hidden;
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    #inicio .contenido header .contenido-header{
        padding-right: 0px;
    }
}



#inicio .contenido header .boton{

    height: 40px;
    width: 100px;
    margin-top: 12px;
    margin-bottom: 10px;
    
    }
    
    #inicio .contenido header{
        background-color:rgba(255, 255, 255, 0.8);
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;
        box-shadow: 0 0 2.5px 0;
        display: flex;
    }
    
    #inicio .contenido header .contenido-header{
        max-width: 1500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 500px;
     
    }
    
    #inicio .contenido header .btn-registrar{
        background-color: #054A89;
        cursor: pointer;
        transition: .5s;
        padding: 10px 15px;
        font-size: 15px;
        border-radius: 50px;
        color: white;
        border-style: none;
    }
    
    #inicio .contenido header .contenido-header h1{
    
        color:  #054A89;
        padding-left: 30px;
        
    }
    #inicio .contenido header .contenido-header #Savett{
            color:  #890505;
            font-size: 23px;
        font-weight: bold;
        }
    
    #inicio .contenido header .contenido-header .logosolo{
        height: 45px;
        width: 45px;
        margin-top: 5px;
        margin-bottom: 5px;
       margin-right: 10px;
    }
    
    #inicio .contenido header .contenido-header nav ul{
        list-style: none;
        display: flex;
        
    }
    
    #inicio .contenido header .contenido-header nav ul li a{
        color:  #054A89;
        text-decoration: none;
        margin: 0 12px;
        font-weight: 400;
        transition: 0.2s;
    }
    
    #inicio .contenido header .contenido-header nav ul li a:hover{
        color:  #B42929;
    }
    
    
    
    #inicio .contenido .frame .iframe{
    width: 1300px;
    height: 900px;
    
    background-color: #ffffff;
    }